# Treat all Dart files as the main language
*.dart linguist-language=Dart

# Mark generated or vendor files so GitHub ignores them for language stats
ios/** linguist-vendored
android/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
linux/** linguist-vendored
build/** linguist-generated
*.g.dart linguist-generated
*.lock linguist-generated
*.yaml linguist-generated
