# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
android/.gradle
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.iml

# VS Code
.vscode/

# IntelliJ
.idea/

# Others
*.log
